<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>

  <body>
    <h1>Index - Baseball Card Collection</h1>

    <nav>
      <a href="/suits/new">Add a New Card to your  Baseball Card Collection</a>
    </nav>

    <nav>
      <ul>
        <% for(let i=0; i<suits.length; i++) { %>
        <li>
          <a href="/suits/<%= suits[i].id %>"> <%= suits[i].name%> </a>
          <!--  ADD DELETE FORM HERE-->
          <form action="/suits/<%= suits[i].id; %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE" />
          </form>
          <!-- Add edit link here  -->
          <a href="/suits/<%= suits[i].id; %>/edit">Edit</a>
        </li>
        <% } %>
      </ul>
    </nav>
  </body>
  <footer>
    <h4> Footer Location: index.ejs </h4>
  </footer>
</html>