<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>

  <body>
    <h1>New Suit page</h1>
    <!--  NOTE: action will be the route, method will be the HTTP verb-->
    <form action="/suits" method="POST">
      User Id: <input type='text' name='userId'><br>
      Name: <input type="text" name="name" /><br />
      Team: <input type="text" name="team" /><br />
      Year: <input type="text" name="suit" /><br />
      <input type="submit" name="" value="Create Suit" />
    </form>
  </body>
</html>