<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>

  <body>
    <h1>Sign Up - Baseball Card Collection</h1>
    <nav>
    <form action="/users" method="POST">
      Name: <input type="text" name="name" /><br />
      <br />
      Username: <input type="text" name="username" /> <br />
      <br />
      Password: <input type="text" name="password" /><br />
      <br />
      <input type="submit" value="SignUp" />
    </form>
  </nav>
  <nav>
    <h1>Babe Ruth Card (est. Worth $ 3000) </h1>
    <img src="/images/baberuth.jpg" alt="Babe" width="250" height ="250"/>
  </nav>
  </body>
  <footer>
    <h4> Footer Location:  views > users > signup.ejs </h4>
  </footer>

</html>